@font-face {
    font-family: pixer;
    src: url(../Pixellari.ttf);
}

@font-face {
    font-family: one-peace;
    src: url(../one\ piece\ font.ttf);
}

body {
    overflow-y: hidden;
}




.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.login-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
    text-shadow: 1px 1px .3px #333;
    letter-spacing: 2px;
}

.login-header img {
    width: 170px;
    filter: drop-shadow(2px 2px 5px #333333a7);
}

.login-header h1 {
    color: #333;
    font-size: 2em;
}

.login-input {
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 1em;
    margin-bottom: 15px;
    width: 100%;
    max-width: 200px;
    outline: none;
    padding: 10px;
    font-family: pixer;
    box-shadow: 2px 2px 5px #33333386;
}

.login-buttom {
    background-color: #eb2026;
    padding: 10px;
    border-radius: 8px;
    color: #000000;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    max-width: 200px;
    font-family: pixer;
    box-shadow: 2px 2px 5px #33333386;
}

.login-buttom:disabled {
    background-color: #5d5d5d52;
    color: #33333393;
    cursor: auto;
}